twitter:
  :path: "/1.1/statuses/filter.json"
  :params:
    :track: "ruby"
  :oauth:
    :consumer_key:    ""
    :consumer_secret: ""
    :token:           ""
    :token_secret:    ""
babel_transpiler:
  :enabled: true
  :source: "../client/_src/"
  :target: "../client/js/"
